{% extends 'base.html' %}
{% load static %}

{% block title %} Listar Funcionarios {% endblock title %}
{% block navbar %} {% include 'partials/navbar.html' %} {% endblock  %}

{% block main %}
<div class="card mt-5 ">
  <div class="card-header text-center">
    Listagem de funcionários
  </div>
  <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Primeiro Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios  %}
            <tr>
                <th scope="row">{{ funcionario.id }}</th>
                <td>{{ funcionario.first_name }}</td>
                <td>{{ funcionario.last_name }}</td>
                <td>{{ funcionario.email }}</td>
                <td>
                  <a href="{% url 'funcionario:edit' funcionario.id %}" class="btn btn-outline-dark">
                    <span class="material-icons">edit</span>
                  </a>

                  <button id="{{ funcionario.id }}" class="btn btn-outline-danger remove_funcionario">
                    <span class="material-icons">delete</span>
                  </button>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock main %}

{% block script %}

  <script src="{% static 'js/apps/funcionarios.js' %}" type="text/javascript"></script>

{% endblock  %}