{% extends 'base.html' %}
{% load static %}

{% block title %} Listar Departamentos {% endblock title %}
{% block navbar %} {% include 'partials/navbar.html' %} {% endblock  %}

{% block main %}
<div class="card mt-5 ">
  <div class="card-header text-center">
    Listagem de departamentos
  </div>
  <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Empresa</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos  %}
            <tr>
                <th scope="row">{{ departamento.id }}</th>
                <td>{{ departamento.nome }}</td>
                <td>{{ departamento.empresa.nome }}</td>
                <td>
                  <a href="" class="btn btn-outline-dark">
                    <span class="material-icons">edit</span>
                  </a>

                  <button id="{{ departamento.id }}" class="btn btn-outline-danger remove_funcionario">
                    <span class="material-icons">delete</span>
                  </button>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock main %}

{% block script %}

  

{% endblock  %}